* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2c3e50;
  color: white;
  user-select: none;
  overflow-x: hidden; 
}

.hide_x_overflow {
  overflow-x: hidden;
}

.road {
  display: flex;
  flex-direction: column;
  height: 9vh;
  width: 100%;
  align-items: stretch;
  justify-content: stretch;
  border-top: 0.5vh solid yellow;
  border-bottom: 0.5vh dashed white;
  margin: 0 auto;
  position: relative;
}

.police {
  width: 19vh;
  margin: 0 auto;
  position: absolute;
  left: 7%;
  top: 5.6vh;
  animation-name: policeCar;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  z-index: 1;
}

@keyframes policeCar {
  0% {}
  10% {transform: rotate(-45deg);}
  20% {top: 19vh;}
  75% {transform: rotate(-45deg);}
  76% {top: 19vh;}
  77% {left: 120%;}
  78% {top: -100%;}
  79% {left: -100%;}
  80% {top: 19vh;}
  100% {}
}

.work_zone {
  width: 15vh;
  margin: 0 auto;
  position: absolute;
  top: 9vh;
  right: 2%;
  transition: all .2s ease-in-out;
  animation-name: expandAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.work_zone:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.portfolio_img {
  width: 35vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 6vh;
  pointer-events: none;
}

.top_lane {
  position: relative;
  height: 23.5vh;
  width: 100%;
}

.car1_img {
  width: 17vh;
  position: relative;
  animation-name: moveCar1;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes moveCar1 {
  0% {left : -20%;}
  50% {left: 3%;}
  100% {left : 140%;}
}

.car2_img {
  width: 17vh;
  position: relative;
  animation-name: moveCar2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes moveCar2 {
  0% {left : -20%;}
  45% {left: 3%;}
  50% {left: 3%;}
  100% {left : 130%;}
}

.bottom_lane {
  height: 9vh;
  width: 100%;
  border-top: 0.5vh solid rgba(0, 0, 0, 0);
  border-bottom: 0.5vh solid yellow;
}

.spacer {
  height: 8vh;
}

.new_lane {
  padding-left: 50vh;
  padding-right: 50vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2vh;
  line-height: 7.5vh;
}

.about_me {
  padding-top: 1.9vh;
  width: 35vh;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.about_section {
  height: 13.6vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.light1 {
  width: 9vh;
  left: 10%;
  top: 4.6vh;
  position: relative;
  pointer-events: none;
}

.light2 {
  width: 9vh;
  left: 80%;
  top: 4.6vh;
  position: relative;
  pointer-events: none;
}

.work {
  padding-top: 2vh;
  width: 27.4vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.cone1 {
  padding-top: 5.9vh;
  width: 7vh;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  pointer-events: none;
}

.cone2 {
  padding-top: 5.9vh;
  width: 7vh;
  margin: 0 auto;
  position: absolute;
  right: 10%;
  pointer-events: none;
}

.work_section {
  height: 12.9vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 3vh;
}

.project_card {
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 7vh;
  margin-bottom: 1vh;
  width: 73%;
  height: 36.5vh;
  outline: 4px solid rgba(255, 255, 255, 0.25);
  user-select: none;
  z-index: 1;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.race_car_dev_animate {
  animation-name: raceCarLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.race_car_eth_animate {
  animation-name: raceCarRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.race_car_id_animate {
  animation-name: raceCarLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.race_car_ps_animate {
  animation-name: raceCarRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes raceCarLeft {
  0% {left : 0%;}
  90% {left: 125%;}
  93% {left: 125%; visibility: hidden;}
  96% {left: -100%; visibility: hidden;}
  100% {left : 0%; visibility: visible;}
}

@keyframes raceCarRight {
  0% {right : 0%;}
  90% {right: 125%;}
  93% {right: 125%; visibility: hidden;}
  96% {right: -100%; visibility: hidden;}
  100% {right : 0%; visibility: visible;}
}

.project_card:hover, .project_card_expand:hover {
  transform: scale(1.015);
}

.expand_button {
  animation-name: expandAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  pointer-events: none;
  transform-origin: 50% 50%;
}

@keyframes expandAnimation {
  0% {
    transform: scale(1);
  } 25% {
    transform: scale(1.1);
  } 50% {
    transform: scale(1.1);
  } 100% {
    transform: scale(1);
  }
}

.hidden {
  padding-top: 4.5vh;
  display: none;
  transition: max-height 0.5s ease;
  padding-left: 50vh;
  padding-right: 50vh;
}

.project_view {
  left: 5%;
  right: 5%;
  text-align: justify;
}

.project_card_expand {
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  margin-top: 7vh;
  margin-bottom: 1vh;
  width: 100%;
  height: 36.5vh;
  outline: 4px solid #E2734A;
  user-select: none;
  z-index: 1;
  color: #E2734A;
  overflow: hidden;
}

.development_img {
  margin-top: 1vh;
  width: 100vh;
  border-radius: 10px;
  pointer-events: none;
}

.iterative_img {
  margin-top: 1vh;
  width: 100vh;
  border-radius: 10px;
  pointer-events: none;
}

.swipe_img {
  margin-top: 2vh;
  width: 50vh;
  pointer-events: none;
}

.ethanol_img {
  margin-top: 1.25vh;
  width: 30vh;
  border-radius: 10px;
  pointer-events: none;
}

.seeya {
  width: 45vh;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.stop1 {
  width: 9vh;
  left: 10%;
  top: 7.5vh;
  position: relative;
  pointer-events: none;
}

.stop2 {
  width: 9vh;
  left: 80%;
  top: 7.5vh;
  position: relative;
  pointer-events: none;
}

.seeya_section {
  height: 16.5vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.linkedin, .linkedinlink {
  margin-top: 3vh;
  margin-left: 2vh;
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
  width: 5vh;
  transition: all .2s ease-in-out;
}

.linkedin:hover {
  transform: scale(1.1);
}

.mail, .maillink {
  margin-top: 3vh;
  margin-right: 2vh;
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
  width: 5vh;
  transition: all .2s ease-in-out;
}

.mail:hover {
  transform: scale(1.1);
}
