* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2c3e50;
  color: white;
  user-select: none;
}

.road {
  display: flex;
  flex-direction: column;
  height: 9vh;
  width: 100%;
  align-items: stretch;
  justify-content: stretch;
  border-top: 0.5vh solid yellow;
  border-bottom: 0.5vh dashed white;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.police {
  width: 19vh;
  margin: 0 auto;
  position: absolute;
  left: 7%;
  top: 5.6vh;
  animation-name: policeCar;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  z-index: 1;
}

@keyframes policeCar {
  0% {}
  10% {transform: rotate(-45deg);}
  20% {top: 19vh;}
  75% {transform: rotate(-45deg);}
  76% {top: 19vh;}
  77% {left: 120%;}
  78% {top: -100%;}
  79% {left: -100%;}
  80% {top: 19vh;}
  100% {}
}

.work_zone {
  width: 15vh;
  margin: 0 auto;
  position: absolute;
  top: 9vh;
  right: 2%;
  transition: all .2s ease-in-out;
}

.work_zone:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.portfolio_img {
  width: 35vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 6vh;
  pointer-events: none;
}

.top_lane {
  position: relative;
  height: 23.5vh;
  width: 100%;
}

.car1_img {
  width: 17vh;
  position: relative;
  animation-name: moveCar1;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes moveCar1 {
  0% {left : -20%;}
  50% {left: 3%;}
  100% {left : 140%;}
}

.car2_img {
  width: 17vh;
  position: relative;
  animation-name: moveCar2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes moveCar2 {
  0% {left : -20%;}
  45% {left: 3%;}
  50% {left: 3%;}
  100% {left : 130%;}
}

.bottom_lane {
  height: 9vh;
  width: 100%;
  border-top: 0.5vh solid rgba(0, 0, 0, 0);
  border-bottom: 0.5vh solid yellow;
}

.spacer {
  height: 8vh;
}

.new_lane {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2vh;
  line-height: 7.5vh;
}

.about_me {
  padding-top: 1.9vh;
  width: 35vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.about_section {
  height: 13.6vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.work {
  padding-top: 2vh;
  width: 27.4vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.work_section {
  height: 12.9vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project_card {
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 5vh;
  flex: 1;
  width: 40%;
}

.project_card:hover {
  transform: scale(1.025);
}

.development_img {
  margin-top: 1vh;
  width: 100vh;
  border-radius: 10px;
}

.iterative_img {
  margin-top: 1vh;
  width: 100vh;
  border-radius: 10px;
}

.swipe_img {
  margin-top: 2vh;
  width: 50vh;
}

.ethanol_img {
  margin-top: 1.25vh;
  width: 30vh;
  border-radius: 10px;
}

.seeya {
  width: 45vh;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.seeya_section {
  height: 16.5vh;
  width: 100%;
  border-bottom: 0.5vh solid rgba(255, 255, 255, 0.25);
}

.linkedin, .linkedinlink {
  margin-top: 3vh;
  margin-left: 2vh;
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
  width: 5vh;
  transition: all .2s ease-in-out;
}

.linkedin:hover {
  transform: scale(1.1);
}

.mail, .maillink {
  margin-top: 3vh;
  margin-right: 2vh;
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
  width: 5vh;
  transition: all .2s ease-in-out;
}

.mail:hover {
  transform: scale(1.1);
}
